{% extends "base.html" %}

{% block title %}
    Error
{% endblock %}

{% block content %}

    <main class="pt-5">
        <div class="container">
            <div class="login d-flex align-items-center">
                <div class="col-12 col-md-12 col-lg-12 mx-auto">
                    <h3 class="mb-4">Order Error</h3>
                    <p>Please contact our customer support team</p>
                    <a href="{% url "account:dashboard" %}">Dashboard</a>
                </div>
            </div>
        </div>
    </main>

{% endblock %}